{% import "_includes/forms" as forms %}

<div>
	<p>
		{{ 'settings.connectionNotice'|t('shipments-veeqo') }}
	</p>
</div>

{{ forms.lightSwitchField({
	label: 'settings.syncProductsLabel'|t('shipments-veeqo'),
	instructions: 'settings.syncProductsInstructions'|t('shipments-veeqo'),
	name: 'settings[syncProducts]',
	on: settings.syncProducts,
	errors: settings.getErrors('syncProducts'),
}) }}

{{ forms.selectField({
	label: 'settings.productImagesLabel'|t('shipments-veeqo'),
	instructions: 'settings.productImagesInstructions'|t('shipments-veeqo'),
	name: 'settings[productImagesHandle]',
	value: settings.productImagesHandle,
	options: [{ label: 'settings.select.none'|t('shipments-veeqo'), value: '' }]|merge(imageFieldOptions),
	errors: settings.getErrors('productImagesHandle'),
}) }}

{{ forms.lightSwitchField({
	label: 'settings.syncStockLabel'|t('shipments-veeqo'),
	instructions: 'settings.syncStockInstructions'|t('shipments-veeqo'),
	name: 'settings[syncStock]',
	on: settings.syncStock,
	errors: settings.getErrors('syncStock'),
}) }}

{% set addressLayout = craft.app.fields.getLayoutByType('craft\\elements\\Address') %}
{% set plainTextFields = addressLayout.getCustomFields()|filter(field => className(field) == 'craft\\fields\\PlainText')|map(field => { label: field.name, value: field.handle }) %}

{{ forms.selectField({
	label: 'settings.phoneFieldLabel'|t('shipments-veeqo'),
	instructions: 'settings.phoneFieldInstructions'|t('shipments-veeqo'),
	name: 'settings[phoneFieldHandle]',
	value: settings.phoneFieldHandle,
	options: [{ label: 'settings.select.none'|t('shipments-veeqo'), value: '' }]|merge(plainTextFields),
	errors: settings.getErrors('phoneFieldHandle'),
}) }}

{% set statusFieldOptions = [{ label: 'settings.select.none'|t('shipments-veeqo'), value: '' }] %}
{% for statusValue, statusLabel in statusOptions %}
	{% set statusFieldOptions = statusFieldOptions|merge([{ label: statusLabel, value: statusValue }]) %}
{% endfor %}

{{ forms.selectField({
	label: 'settings.autoPushStatusLabel'|t('shipments-veeqo'),
	instructions: 'settings.autoPushStatusInstructions'|t('shipments-veeqo'),
	name: 'settings[autoPushStatus]',
	value: settings.autoPushStatus,
	options: statusFieldOptions,
	errors: settings.getErrors('autoPushStatus'),
}) }}
